<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
  <br/>magic place <b>{{place}}</b>, cost {{cost}}
</p>
<br/>

Columns:{{columns}}<br/>
<table mdbTable bordered="true">
  <thead>
    <tr>
      <th *ngFor="let head of columns" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>{{name}}</td>
    <td>{{place}}</td>
    <td>{{cost}}</td>
    </tr>
  </tbody>
</table>

<div id='tab2'><br/><b>tab2</b>
  <table style="width:50%;">
    <tbody>
    <tr *ngFor="let itm of tab2">
      <td>{{itm.name}}</td>
      <td>{{itm.place}}</td>
      <td style="text-align:right; width:15% font-family:monospace">{{fixed2(itm.cost)}}</td>
  </tr>
    </tbody>
  </table>
  <p>
     cost2: {{fixed2(12.345)}}
  </p>
</div>
<div id='cars'>
<ag-grid-angular 
    style="width: 70%; height: 300px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>

</div>
